@media (max-width:768px){
   /* layout */
.contents_wrap {
  box-sizing: border-box;
}
.pc{display: none;}
header.mo{
  border: 1px solid red;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 54px;
  z-index: 1000;
}
.innerHeader{
  width: 88%;
  margin: 0 auto;
  border: 1px solid lime;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.btnMoMenu{
  border: 1px solid red;
  width: 6.4vw;
  height: 6.4vw;
}
.btnMenuLang{
  border: 1px solid red;
  display: 6.4vw;
  height: 6.4vw;
}
.btnMenuLang img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.moLogo{
  width: 31.47vw;
  max-width: 230px;
}
.moLogo a img {
  width: 100%;
}

/*-------------------main------------------*/

main {
  /* border: 10px solid blue; */
  position: relative;
}

.videoBanner {
  height: 780px;
  /* border: 5px solid aqua; */
  position: relative;
}
  
.videoBanner:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.201);
  /* opacity: 0.2; */
}

.videoBanner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videoBanner>.flotingTxt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
}

.flotingTxt>h2 {
  margin-bottom: 50px;
}

.flotingTxt>a {
  padding: 30px 110px;
  background: rgba(255, 255, 255, 0.4);
  display: inline-block;
  color: white;
  font-size: 1.2rem;
  border-radius: 4px;
}

.mainSection {
  margin: 0 auto;
  width: 1440px;
  margin-top: 50px;
}


.mainSection>h3 {
  /* border: 1px solid lime; */
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.2rem;
}

.news>ul {
  display: flex;
  justify-content: space-between;
}

.news>ul>li {
  position: relative;
}

.news>ul>li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100px;
  background: #ebebeb;
}

.news>ul>li:last-of-type:after {
  display: none;
}

.news h4 {
  /* border: 1px solid blue; */
  font-weight: bold;
}

.news h4:hover {
  text-decoration: underline;
}

.date {
  color: #777
}

.news ul>li * {
  padding-bottom: 20px;
  padding-right: 30px;
}

.culture {
  width: 1440px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 150px;
}

.culture img {
  width: calc(1440px/4);
}

.culture>ul {
  display: flex;
}

.culture>ul>li {
  overflow: hidden;
  position: relative;

}

.culture>ul>li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(0.8)brightness(0.7);
  transition: all 0.7s ease 0s;
}

.culture>ul>li:hover img {
  transform: scale(1.2);
  filter: grayscale(0)brightness(1);
}

.culture>ul>li div {
  /* border: 1px solid blue; */
  position: absolute;
  left: 50%;
  bottom: 60px;
  transform: translateX(-50%);
  text-align: center;
  color: white;
}

.box>h3 {
  font-size: 1.7rem;
  margin-bottom: 10px;
  transition: all 0.5s ease 0s;
}

.culture>ul>li:hover div>h3 {
  transform: translateY(-60%);
}

.box>p {
  padding-top: 20px;
  /* position: relative; */
  transition: all 0.5s ease 0s;
  opacity: 0;
}

.culture>ul>li:hover p {
  opacity: 1;
}

.box>p:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 60%;
  width: 30px;
  height: 1px;
  background: #fff;
}

.notice {
  margin-bottom: 200px;
}

.notice .img {
  overflow: hidden;
  height: 190px;
}

.notice img {
  /* border: 1px solid red; */
  transition: all 1s ease 0s;
  box-sizing: border-box;
  width: 100%;
}

.notice>ul>li:hover img {
  transform: scale(1.2);
}

.notice>ul {
  display: flex;
  /* border: 1px solid red; */
}

.notice>ul>li {
  border: 1px solid red;
  width: calc((100% - 30px)/4);
  flex: 1;
  margin-right: 10px;
}

.notice>ul>li * {
  margin-bottom: 10px;
}

.notice p {
  color: #777;
}

.notice h3 {
  font-size: 1.2rem;
  font-weight: bold;
}
/*~~~~~~~~~~~~~~~~~~~ footer~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.footMenu1 {
  border-top: 1px solid #777;
  width: 100%;
  padding: 60px 0;
  /* border: 1px solid red; */
}

.footMtext>ul {
  margin: 0 auto;
  display: flex;
  width: calc(1440px - 360px);
  justify-content: space-between;
}

.footMtext>ul>li {
  /* border: 1px solid red; */
}

.footMtext>ul>li * {
  margin-top: 10px;
}

.footMtext>ul>li>a {
  font-size: 1.1rem;
  font-weight: bold;
}

.footMtext>ul>li>ul>li {
  color: #777;
}

.footMtext>ul>li>ul>li:hover {
  color: #000;
}

.footMenu2 {
  width: 100%;
  padding-bottom: 100px;
  border-bottom: 1px solid #777;
}

.footMtext2>ul {
  margin: 0 auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
  width: calc(1440px - 360px);
}

.footMtext2>ul>li {
  font-weight: bold;
  font-size: 1.2rem;
  padding-right: 80px;
}

.blue {
  color: rgb(74, 74, 203);
}

.coInfo {
  /* border: 1px solid red; */
  padding: 20px 0;
  width: 100%;

}

.coInfo2 {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.snsMenu {
  position: absolute;
  right: 5px;
  top: -10px;

}

.footLogo {
  display: flex;
  align-items: center;
}

.footLogo>h1 {
  margin-right: 20px;
}

.footLogo img {
  width: 120px;
}

.copy {
  color: #777;
}

.snsMenu>ul {
  display: flex;
  justify-content: flex-end;
}
.snsMenu>ul>li {
  padding-left: 10px;
}
.snsMenu img {
  width: 50px;
}
}