*{margin: 0;padding: 0;}
ul,ol,li{list-style: none;}
a{text-decoration: none;color: inherit;}
img{max-width: 100%;}
body{box-sizing: border-box;}
.wrap{
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  color: #333333;
  border: 1px solid black;
}
header{
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}
.logo{
}
.gnb{
  border: 1px solid blue;
}
.gnb{
  display: flex;
}
.gnb>li{
  display: flex;
  border: 1px solid black;
  flex: 1;
  width: 150px;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  transition: all 0.5s ease 0s;
}
.gnb>li:hover .gnb>li>ul>li{
  display: block;
  background: black;
}
.gnb>li:last-of-type{
  margin-right: 20px;
}
.gnb>li>ul{
  border: 1px solid red;
  width: 150px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  display: none;
}
.gnb>li>ul>li{
  border: 1px solid red;
  padding: 6px;
}
.slider{
  width: 1200px;
  height: 300px;
  overflow: hidden;
}
.station{
  width: 1200px;
  height: 300px;
  /* display: flex; */
  transition: all 0.5s ease 0s;
}
.station>li{
  position: relative;
  height: 300PX;
  width: 1200px;
}
.station>a img{
  width: 1200px;
  height: 300px;
  object-fit: cover;
  
}
.station .stationTxt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2.5rem;
  background: rgba(255, 255, 240, 0.192);
}
.contets{
  width: 100%;
  display: flex;
  height: 200px;
  justify-content: space-between;
}
.tapContets{
  width: calc(100%/3);
}
.tapTit{
  display: flex;
  align-items: center;
}
.tapTit>li{
  height: 30px;
  font-weight: bold;
  font-size: 1.25rem;
  margin-right: 10px;
}
.tapDes{
  display: flex;
}
.tapDes .Des1{
  flex: 1;
  font-weight: bold;
}
.tapDes .Des1>li{
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.tapDes .Des1>li:last-of-type{
  margin-bottom: 0;
}
.tapDes .Des2{
  display: flex;
  height: 170px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.tapDes .Des2>li img{
  width: 120px;
  object-fit: cover;
}
.bannerContetns{
  position: relative;
}
.bannerContetns>h2>a img{
  width: 100%;
  object-fit: cover;
}
.bannerContetns p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2rem;
  font-weight: bold;
  background: rgba(255, 255, 240, 0.166);
}
.bannerContetns p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2rem;
  font-weight: bold;
  background: rgba(255, 255, 240, 0.166);
}
.QuickContetns{
  position: relative;
}
.QuickContetns p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2rem;
  font-weight: bold;
  background: rgba(255, 255, 240, 0.166);
}
footer{
  background: seagreen;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
.f_Logo{
  position: relative;
}
.f_Logo p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 1.2rem;
  font-weight: bold;
  background: rgba(255, 255, 240, 0.577);
}
.copyRight{
  position: relative;
}
.copyRight p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 1.2rem;
  font-weight: bold;
  background: rgba(255, 255, 240, 0.383);
}
.SNS{
  position: relative;
}
.SNS>ul{
  display: flex;
  align-items: center;
}
.SNS>ul>li{
  margin-left: 20px;
}
.SNS>ul>li:nth-of-type(1){
  margin-left: 0;
}
.SNS p{
  position: absolute;
  top: 50%;
  left: 30%;
  background: rgba(255, 255, 240, 0.195);
  font-size: 1.2rem;
  font-weight: bold;
}
.popUP{
  display: none;
}


