@keyframes introAni {
  0%{
    opacity: 0;
    transform: translate(-10px)translateY(-10px)rotateY(45deg);
  }
  100%{
    opacity: 1;
    transform: translateX(0px)translateY(0px)rotateY(0deg);
  }
}
@keyframes moveLeftToRight {
  0%{
    opacity: 0;
    transform: translateX(-10px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes moveRightToLeft {
  0%{
    opacity: 0;
    transform: translateX(10px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes moveTopToBottom {
  0%{
    opacity: 0;
    transform: translateY(-10px)scale(10)translateY(50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px)scale(1)translateX(0px);
  }
}
@keyframes moveBottomToTop {
  0%{
    opacity: 0;
    transform: translateY(50px)scale(10);
  }
  100%{
    opacity: 1;
    transform: translateY(0px)scale(1);
  }
}
@keyframes fadeInOut {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}