* {
  margin: 0;
  padding: 0;
}

.box {
  width: 600px;
  height: 700px;
  background: pink;
  margin: 0 auto;
  display: flex;
  font-size: 5rem;
  text-transform: uppercase;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* flex-wrap: wrap; */
  /* align-content: center; */
}

.box>div {
  /* flex-basis: 100px;
  flex-shrink: 1;
  flex-grow: 1; */
  flex: 1;
  /* 축양형 표현 */
}

.box .a {
  background-color: red;
  /* flex-shrink: 2; */
  /* flex-grow: 2; */
  /* flex-shrink: 2; */
  /* order: 0;
  align-self: flex-end; */
}

.b {
  background-color: green;
  /* order: 1; */
}

.c {
  background-color: blue;
  /* order: 3; */
}

.d {
  background-color: orange;
  /* order: 2; */
}