@font-face {
  font-family: myfont;
  src: url("../font/koryung.ttf");
}

@font-face {
  font-family: myfont1;
  src: url("../font/SBBOLD.ttf")
}

@font-face {
  font-family: "SB어그로L";
  src: url("../font/SB어그로L.ttf")
}

@font-face {
  font-family: 'NeoDunggeunmoPro-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.myfont1 {
  font-family: myfont;
}

.myfont2 {
  font-family: myfont1;
}

.myfont3 {
  font-family: "SB어그로L";
}

.myfont4 {
  font-family: 'NeoDunggeunmoPro-Regular';
}