body{
  margin: 0;
}

#container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#header{
  display: flex;
  flex-basis: 100px;
  padding: 12px;
  background: dodgerblue;
  gap: 12px;
  align-items: flex-end;
}
#header> * {
  background: yellow;
  padding: 12px 0;
  text-align: center;
}
#main{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
#content{
  
  padding: 24px;
  background: skyblue;
}
#header> *:first-child{
  flex-basis: 100px;
}
#header>*:last-child{
  flex-grow: 1;
}

#footer{
  background: tomato;
  flex-basis: 60px;
}