* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}

b,
strong {
  font-weight: normal;
}

i,
em,
address {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
html {
  font-size: 12px;
  font-family: 'Noto Sans KR', sans-serif;
}