*{margin:0;padding: 0;}
a{text-decoration: none;color: inherit;}
ul,ol{list-style: none;}

header{
  width: 100%;
  display: flex; 
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background: lightgreen;
}
header {
  position: relative;
}
.logo {
  text-transform: uppercase;
  text-shadow: 10px 10px 30px rgba(0, 0, 0, 0.44);
  font-family: Oxygen;
  font-weight: bold;
  color: #fff;
  background: lightseagreen;
  border-radius: 15px;
}
.gnb>li{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 50PX;
  border-right: 4px solid #e3e3e3;
}