* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
body {
  background: #ff5500;
}
header {
  position: relative;
}
.logo {
  text-transform: uppercase;
  text-shadow: 10px 10px 30px rgba(0, 0, 0, 0.44);
  font-family: Oxygen;
  font-weight: bold;
  color: #fff;
  font-size: 11rem;
  height: 50px;
  padding: 40px 0px 0px 40px;
}
