/* 1. reset */
* {
  margin: 0;
  padding: 0;
}

h1~h6 {
  font-size: inherit;
  font-weight: normal;
}

address,
em,
i {
  font-size: normal;
}

strong,
b {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit
}

/* 2. common - style (상속스타일) */


body {
  background-color: ivory;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
}

/* 3. layout -() */
.container {
  width: 900px;
  margin: 0 auto;
  background: url(../ex1/img/dream.jpg) no-repeat 100% 100%;
}

/* 4. detail\(글씨크기,글씨색,마진,패딩) */
.container>h1 {
  margin-bottom: 10px;
  font-size: 50px;
  background: green;
  color: white;
  border-top: 5px solid red;
  border-bottom: 5px solid red;
  text-align: center;
  padding: 10px 0;
}

.container>h2 {
  font-size: 30px;
  background: orange;
  border-bottom: 5px solid red;
  margin-bottom: 10px;
}

.container>p {
  margin-bottom: 10px;
}

.copy {
  border-top: 5px solid red;
  font-weight: bold;
  padding-top: 10px;
}