* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

strog,
b {
  font-weight: normal;
}

i,
em,
address {
  font-style: noraml;
}

/* common */
html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
}

/* layout */
.banner {
  height: 250px;
  margin-bottom: 50px;
  overflow: hidden;
}

.container {
  /* border: 1px solid red; */
  margin: 0 auto;
  width: 1200px;
}

.container>h2 {
  /* border: 1px solid blue; */
  font-size: 30px;
  font-weight: bold;
  background: url(../ex3/img/sub_tit_line.gif) repeat-x 0 50%;
  margin-bottom: 100px;
}

.container>h2>span {
  /* border: 1px solid red; */
  background: white;
  padding-right: 18px;
}

.container>h3 {
  font-size: 52px;
  /* border: 1px solid red; */
  font-family: "풀무원체";
  text-align: center;
  padding: 0 70px;
  margin-bottom: 50px;
}

.container>h3>span {
  color: #7eaE47;
}

@font-face {
  font-family: "풀무원체";
  src: url(../ex3/img/PulmuoneLOHASBold.woff);
}

.container section {
  /* border: 1px solid red; */
  width: 810px;
  padding: 40px 90px 50px;
  background: #f4f4f4;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}

.container>section>h4 {
  font-family: "풀무원체";
  font-size: 35px;
  margin-bottom: 25px;
}

.container>section>h4+p {
  margin-bottom: 30px;
}