* {
  margin: 0;
  padding: 0;
}

.box {
  margin: 0 auto;
  border: 1px solid red;
  background-color: cyan;
  width: 800px;
  height: 600px;
  padding: 40px;
  /* background-image: url(../img/animal-gdd1514713_640.jpg);
  background-repeat: no-repeat;
  background-position-x: 100px;
  background-position-y: 100px;
  background-position: 100px 100px; */
  background: pink url(../img/animal-gdd1514713_640.jpg) no-repeat 100px 100px;
}

.box2 {
  width: 1000px;
  height: 800px;
  border: 1px solid blue;
  margin: 0 auto;
  /* background: url(../img/animal-gdd1514713_640.jpg) no-repeat right 0; */
  background: url(../img/animal-gdd1514713_640.jpg) no-repeat calc(100% - 100px) calc(100% - 50px);
}

.box2>h2 {
  border: 1px solid red;
  width: calc(50% + 50px);
}

.box3 {
  width: 800PX;
  height: 800px;
  border: 1px solid black;
  margin: 0 auto;
  background: url(../img/animal-gdd1514713_640.jpg) no-repeat 0 0;
  background-size: contain;
}