@keyframes move1 {
  0%{transform: translateX(100%);}
  100%{transform: translateX(-100%);}
}
@keyframes move2 {
  0%{transform: translateX(0%);}
  100%{transform: translateX(-200%);}
}
@keyframes wheelAni {
  0%{top: 10px;}
  100%{top: 60px;}
}
@keyframes drag {
  0%{transform: translateX(50px);}
  25%{transform: translateX(0);}
  50%{transform: translateX(50px);}
  75%{transform: translateX(0);}
  100%{transform: translateX(50px);}
}
