*{margin: 0;padding: 0;}

.intro{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.intro figure{
  width: 1200px;
}
#introtext path{
  fill: transparent;
  stroke: black;
  /* transition: all 1s ease 0s; */
}
#introtext.on path{
  stroke-dashoffset:0!important;
  fill: red;
}